<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="app.component.css" />
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="header">
        <a href="#" class="nav_logo">Estilo Premium</a>
        <button class="menu-icon">
          <svg width="33" height="33" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6h11"></path>
            <path d="M9 12h11"></path>
            <path d="M9 18h11"></path>
            <path d="M5 6v.01"></path>
            <path d="M5 12v.01"></path>
            <path d="M5 18v.01"></path>
          </svg>
        </button>
        <ul class="nav_items">
          <li class="nav_item dropdown">
            <a href="#" class="dropbtn">Hombre</a>
            <div class="dropdown-content">
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropbtn">Ropa</a>
                  <div class="sub-dropdown">
                    <ul>
                      <li><a href="#">Camisetas</a></li>
                      <li><a href="#">Chaquetas</a></li>
                      <li><a href="#">Buzos</a></li>
                      <li><a href="#">Pantalonetas</a></li>
                      <li><a href="#">Corta vientos</a></li>
                      <li><a href="#">Camibuzos</a></li>
                      <li><a href="#">Conjuntos</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropbtn">Accesorios</a>
                  <div class="sub-dropdown">
                    <ul>
                      <li><a href="#">Gorras</a></li>
                      <li><a href="#">Relojes</a></li>
                      <li><a href="#">Lociones</a></li>
                      <li><a href="#">Manillas</a></li>
                      <li><a href="#">Anillos</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav_item dropdown">
            <a href="#" class="dropbtn">Mujer</a>
            <div class="dropdown-content">
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropbtn">Ropa</a>
                  <div class="sub-dropdown">
                    <ul>
                      <li><a href="#">Camisetas</a></li>
                      <li><a href="#">Blusas</a></li>
                      <li><a href="#">Conjuntos</a></li>
                      <li><a href="#">Faldas</a></li>
                      <li><a href="#">Pijamas</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropbtn">Accesorios</a>
                  <div class="sub-dropdown">
                    <ul>
                      <li><a href="#">Relojes</a></li>
                      <li><a href="#">Lociones</a></li>
                      <li><a href="#">Manillas</a></li>
                      <li><a href="#">Anillos</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropbtn">Ropa Interior</a>
                  <div class="sub-dropdown">
                    <ul>
                      <li><a href="#">Brasieres</a></li>
                      <li><a href="#">Vestidos de Baño</a></li>
                      <li><a href="#">Medias</a></li>
                      <li><a href="#">Lenceria</a></li>
                    </ul>
                  </div>
                </li>
              </ul>

            </div>
          </li>

          <li class="nav_item dropdown">
            <a href="#" class="dropbtn">Niño</a>
            <div class="dropdown-content">
              <ul>
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Tenis</a></li>
                <li><a href="#">Sudaderas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav_item dropdown">
            <a href="#" class="dropbtn">Calzado</a>
            <div class="dropdown-content">
              <ul>
                <li><a href="#">Botas</a></li>
                <li><a href="#">Tenis</a></li>
                <li><a href="#">Chanclas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav_item dropdown">
            <a href="#" class="dropbtn">Ropa Interior</a>
            <div class="dropdown-content">
              <ul>
                <li><a href="#">Brasieres</a></li>
                <li><a href="#">Medias</a></li>
                <li><a href="#">Pijamas</a></li>
                <li><a href="#">Vestidos de baño</a></li>
                <li><a href="#">Lenceria</a></li>
              </ul>
            </div>
          </li>
        </ul>


        <button class="search-button">
          <input type="text">
          <span class="search-icon">
            <svg width="33" height="33" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z"></path>
              <path d="m21 21-6-6"></path>
            </svg>
          </span>
        </button>





        <button class="btn" data-quantity="0">
          <svg viewBox="0 0 17.503 15.625" height="20.625" width="20.503" xmlns="http://www.w3.org/2000/svg"
            class="icon">
            <path transform="translate(0 0)"
              d="M8.752,15.625h0L1.383,8.162a4.824,4.824,0,0,1,0-6.762,4.679,4.679,0,0,1,6.674,0l.694.7.694-.7a4.678,4.678,0,0,1,6.675,0,4.825,4.825,0,0,1,0,6.762L8.752,15.624ZM4.72,1.25A3.442,3.442,0,0,0,2.277,2.275a3.562,3.562,0,0,0,0,5l6.475,6.556,6.475-6.556a3.563,3.563,0,0,0,0-5A3.443,3.443,0,0,0,12.786,1.25h-.01a3.415,3.415,0,0,0-2.443,1.038L8.752,3.9,7.164,2.275A3.442,3.442,0,0,0,4.72,1.25Z"
              id="Fill"></path>
          </svg>
          <span class="quantity"></span>
        </button>



        <button class="btn-cart" data-quantity="0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24.38" height="30.52" viewBox="0 0 24.38 30.52"
            class="icon-cart">
            <title>icon-cart</title>
            <path
              d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"
              transform="translate(-3.62 -0.85)"></path>
          </svg>
          <span class="quantity"></span>
        </button>
        <div>
          <button class="shadow__btn smaller">
            Mi Cuenta
          </button>
        </div>
      </div>
    </nav>
  </header>

</body>

</html>